<template>
  <div id="register">
    <b-card
        title="Add Product"
        tag="article"
        style="max-width: 30rem;"
        class="center"
    >
      <b-form @submit="onSubmit" v-if="show">
          <b-form-group
              id="input-group-1"
              label="Code: "
              label-for="input-1">
              <b-form-input
              id="input-1"
              v-model="product.code"
              type="text"
              required
              placeholder="Enter Code"
              ></b-form-input>
          </b-form-group>

          <b-form-group
              id="input-group-1"
              label="Name: "
              label-for="input-1"
              description="We'll never share your email with anyone else.">
            <b-form-input
              id="input-1"
              v-model="product.name"
              type="text"
              required
              placeholder="Enter name"
            ></b-form-input>
          </b-form-group>

          <b-form-group 
            id="input-group-3" 
            label="Description:" 
            label-for="input-3">
                <b-form-input
                  id="input-3"
                  v-model="product.description"
                  type="text"
                  required
                  placeholder="Enter Description"
                ></b-form-input>
          </b-form-group>

          <b-form-group>
                <!-- <b-form-file @change="chooseFile($event)" class="mt-3"></b-form-file> -->
                <input type="file" @change="chooseFile($event)">
          </b-form-group>

          <b-form-group 
            id="input-group-3" 
            label="Quantyti:" 
            label-for="input-3">
                <b-form-input
                id="input-3"
                v-model="product.quantity"
                type="text"
                required
                placeholder="Enter Quantty"
                ></b-form-input>
          </b-form-group>

          <b-form-group 
            id="input-group-4" 
            label="price:" 
            label-for="input-4">
                <b-form-input
                  id="input-4"
                  v-model="product.price"
                  type="text"
                  required
                  placeholder="Enter Price"
                ></b-form-input>
          </b-form-group>

          <b-form-group 
            id="input-group-3" 
            label="Tax:" 
            label-for="input-3">
                <b-form-input
                  id="input-3"
                  v-model="product.tax"
                  type="text"
                  required
                  placeholder="Enter Tax"
                ></b-form-input>
          </b-form-group>

          <b-button id="show-btn" type="submit">
              Add
          </b-button>
      </b-form>
      <b-modal ref="my-modal" hide-footer title="Using Component Methods">
        <div class="d-block text-center">
          <h3>Agrego el producto - {{product.name}}</h3>
          <h4>¿Desea agregar algun producto más?</h4>
        </div>
        <b-button class="mt-3" variant="outline-danger" block @click="GoProduct">Cancelar</b-button>
        <b-button class="mt-2" variant="outline-warning" block @click="hideModal">Aceptar</b-button>
      </b-modal>

    </b-card>


  </div>
</template>

<style>

#register {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.center{
    position: absolute;
    left: 38%;
    top: 15%;
}
#btn-rigth{
    position: absolute;
    right: 5%;
}
</style>

<script>
import axios from 'axios';

  export default {
    data() {
      return {
        product: {
          code: '',
          name: '',
          description: '',
          image: '',
          quantity: '',
          price: '',
          tax: '',
        },
        show: true,
        APIUrl: 'https://enigmatic-cliffs-78887.herokuapp.com/api/v1/',
        header: '',
        token: ''
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        this.token = localStorage.getItem("token").split('"', (3))
        this.token = this.token[1]
        this.header = {
          headers: {
            Authorization: "Bearer " + this.token
          }
        }

        let formData = new FormData();

        formData.append('code', this.product.code);
        formData.append('name', this.product.name);
        formData.append('description', this.product.description);
        formData.append('image', this.product.image);
        formData.append('quantity', this.product.quantity);
        formData.append('price', this.product.price);
        formData.append('tax', this.product.tax);

        // console.log(formData.getAll());


        axios.post(this.APIUrl+'products',formData, this.header).then((response) => {
            console.log(response.data)
            if(response.data.status == 201){
              this.$refs['my-modal'].show()
              this.product.code = ''
              this.product.name = ''
              this.product.description = ''
              this.product.image = ''
              this.product.quantity = ''
              this.product.price = ''
              this.product.tax = ''
            }

        }).catch((error) => {
          alert(JSON.stringify(error));
        });
      },
      chooseFile(event){
        //let data = new FormData();
        this.product.image = event.target.files[0];

        //console.log(this.product.image);
      },
      hideModal() {
        this.$refs['my-modal'].hide()
      },
      GoProduct(){
        this.$router.go(-1)
      }
    }
  };
</script>
