<template>
  <div class="inventario">
    <div id="nav">
        <b-button @click="back">
        <eva-icon 
        name="arrow-circle-left" 
        animation="pulse" 
        fill="limegreen"></eva-icon>
        Regresar</b-button>
        <h1>Inventario</h1>
    </div>

    <div>
      <div>
         <b-table striped hover :items="All"></b-table>
      </div>
    </div>
  </div>
</template>

<style>

.imgProduct {
  background-size: 20%;
}

#inventario {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>

<script>
  import axios from 'axios';
  import Axios from 'axios';
import { EACCES } from 'constants';
  export default {
    data() {
      return{
        header: '',
        token: '',
        APIUrl: '',
        All: []
      }
    },
    methods: {
      back(){
        this.$router.go(-1)
      },
      Start(){
        this.APIUrl = 'https://enigmatic-cliffs-78887.herokuapp.com/api/v1/'
        this.token = localStorage.getItem("token").split('"', (3))
        this.token = this.token[1]
        this.header = {
          headers: {
            Authorization: "Bearer " + this.token
          }
        }
        axios.get(this.APIUrl + 'inventories', this.header).then(response => {
          response.data.forEach(element => {
            this.All.push({
                Creado: element.created_at,
                precio: element.price,
                producto: element.product.name,
                Cantidad: element.quantity,
                iva: element.tax,
                Creador: element.user.username
            })
            // console.log(element)
          });
        //   console.log(array)
        })
      },
      getall(){
        return this.All
      }
    },
    beforeMount(){
      this.Start()
    }
  }
</script>