<template>
  <div id="login">
    <b-card
        title="Login"
        img-src=""
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 30rem;"
        class="center"
    >

        <b-form @submit="onSubmit" v-if="show">
            <b-form-group
                id="input-group-1"
                label="Email address:"
                label-for="input-1"
                description="We'll never share your email with anyone else."
            >
            <b-form-input
                id="input-1"
                v-model="user.email"
                type="email"
                required
                placeholder="Enter email"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Password:" label-for="input-3">
                <b-form-input
                id="input-3"
                v-model="user.password"
                type="password"
                required
                placeholder="Enter Password"
                ></b-form-input>
                <b-form-text id="password-help-block">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not
                    contain spaces, special characters, or emoji.
                </b-form-text>
            </b-form-group>

            <b-button type="submit" variant="primary">Login</b-button>
            <b-button id="btn-rigth" @click="SignIn">
                Sign in
            </b-button>
        </b-form>

    </b-card>
  </div>
</template>

<style>

#login {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.center{
    position: absolute;
    left: 38%;
    top: 25%;
}

#btn-rigth{
    position: absolute;
    right: 5%;
}
</style>

<script>
  import axios from 'axios';
  export default {
    data() {
      return {
        user: {
          email: '',
          password: '',
        },
        show: true,
        APIUrl: 'https://enigmatic-cliffs-78887.herokuapp.com/api/v1/'
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        axios.post(this.APIUrl+'login', this.user).then((response)=>{
          if (response.data.status == 202){
            localStorage.setItem('token', JSON.stringify(response.data.token.token));
            localStorage.setItem('rol', JSON.stringify(response.data.user.rol));
            console.log(localStorage.getItem('rol'))
            this.$router.push('/app/'+response.data.user.rol)
          }else{
            alert(JSON.stringify(response.data.message.error));
          }
        })
      },    
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.user.email = ''
        this.user.password = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      SignIn(){
        this.$router.push('/register')
      }
    }
  }
</script>