<template>
  <div class="product">
    <div id="nav">
      <h2 v-if="rol == 1">
        <b-button @click="back">
        <eva-icon 
        name="arrow-circle-left" 
        animation="pulse" 
        fill="limegreen"></eva-icon>
        Regresar</b-button> |
      <router-link to="/product/add">
        <eva-icon 
        name="plus" 
        animation="pulse" 
        fill="limegreen"></eva-icon>Agregar productos
      </router-link>
      </h2>
      
      <h2 v-else-if="rol == 2">
        <b-button @click="back">
        <eva-icon 
        name="arrow-circle-left" 
        animation="pulse" 
        fill="limegreen"></eva-icon>
        goback</b-button>
      </h2>
    </div>

    <div>
      <div v-for="(item, i) of All" :key="i">
          <b-card-group deck>
            <b-card
              :title="item.name"
              :img-src="FotoUrl+item.image"
              img-alt="Image"
              img-top
              tag="article"
              style="max-width: 20rem;"
              class="mb-2"
            >
            <b-card-text>
              {{i}} - {{item.description}} 
            </b-card-text>
            <b-button>
              <eva-icon 
                name="shopping-cart" 
                animation="pulse" 
                fill="limegreen"></eva-icon>
              Sale
            </b-button>
            </b-card>
          </b-card-group>
      </div>
    </div>
  </div>
</template>

<style>

.imgProduct {
  background-size: 20%;
}

#product {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>

<script>
  import axios from 'axios';
  import Axios from 'axios';
  export default {
    data() {
      return{
        header: '',
        token: '',
        APIUrl: '',
        FotoUrl: '',
        rol: '',
        All: []
      }
    },
    methods: {
      back(){
        this.$router.go(-1)
      },
      Start(){
        this.APIUrl = 'https://enigmatic-cliffs-78887.herokuapp.com/api/v1/'
        this.FotoUrl = 'https://enigmatic-cliffs-78887.herokuapp.com'
        this.token = localStorage.getItem("token").split('"', (3))
        this.rol = localStorage.getItem("rol")
        this.token = this.token[1]
        this.header = {
          headers: {
            Authorization: "Bearer " + this.token
          }
        }
        axios.get(this.APIUrl + 'products', this.header).then(response => {
          this.All = response.data;
          console.log(this.All)
        })
      },
      getall(){
        return this.All
      }
    },
    beforeMount(){
      this.Start()
    }
  }
</script>