<template>
  <div id="register">
    <b-card
        title="Sign in"
        img-src=""
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 30rem;"
        class="center"
    >
        <b-form @submit="onSubmit" v-if="show">
            <b-form-group
                id="input-group-1"
                label="User Name:"
                label-for="input-1"
                description="We'll never share your email with anyone else."
            >
                <b-form-input
                id="input-1"
                v-model="user.username"
                type="text"
                required
                placeholder="Enter username"
                ></b-form-input>
            </b-form-group>

            <b-form-group
                id="input-group-1"
                label="Email address:"
                label-for="input-1"
                description="We'll never share your email with anyone else."
            >
            <b-form-input
                id="input-1"
                v-model="user.email"
                type="email"
                required
                placeholder="Enter email"
                ></b-form-input>
            </b-form-group>

            <b-form-group 
            id="input-group-3" 
            label="Password:" 
            label-for="input-3">
                <b-form-input
                id="input-3"
                v-model="user.password"
                type="password"
                required
                placeholder="Enter Password"
                ></b-form-input>
                <b-form-text id="password-help-block">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not
                    contain spaces, special characters, or emoji.
                </b-form-text>
            </b-form-group>

            <b-form-group 
            label="Rol:" >
                <b-form-radio v-model="user.rol" value="2"
                id="radio-1" required>Cashier</b-form-radio>
                <b-form-radio v-model="user.rol" value="1"
                id="radio-2" required>Manager</b-form-radio>
            </b-form-group>

            <b-button type="submit">
                Sign up
            </b-button>
        </b-form>

    </b-card>
  </div>
</template>

<style>

#register {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.center{
    position: absolute;
    left: 38%;
    top: 15%;
}
#btn-rigth{
    position: absolute;
    right: 5%;
}
</style>

<script>
import axios from 'axios';

  export default {
    data() {
      return {
        user: {
          username: '',
          email: '',
          password: '',
          rol: '',
        },
        show: true,
        APIUrl: 'https://enigmatic-cliffs-78887.herokuapp.com/api/v1/',
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        
        axios.post(this.APIUrl+'register',this.user).then((response) => {
          this.$router.push('/');
        }).catch((error) => {
          alert(JSON.stringify(error));
        });
      },
    },
  };
</script>
