<template>
  <div id="app">
    <div id="nav">
      <h2 v-if="rol == 1">
        <router-link to="/product">Productos</router-link> |
        <!-- <router-link to="/admin">Admin</router-link> | -->
        <router-link to="/transaccion">Transaccion</router-link> |
        <router-link to="/inventario">Inventario</router-link> 
        <Menu />
      </h2>
      <h2 v-else-if="rol == 2">
        <router-link to="/product">Productos</router-link> 
        <!-- | <router-link to="/cashier">About</router-link> -->
        <Menu />
      </h2>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  /* color: #4646fc; */
}

#nav a {
  font-weight: bold;
  color: #3827ce;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
  import axios from 'axios';
  import Menu from './components/Menu.vue';
  export default {
    components: {
      Menu,
    },
    data() {
      return {
        routers: [],
        show: true,
        rol: 0,
        token: "",
        APIUrl: 'https://enigmatic-cliffs-78887.herokuapp.com/api/v1/'
      }
    },
    methods: {
      start(){
        if(this.$router.history.current.path == '/app/1'){
          this.rol = 1
        }else if (this.$router.history.current.path == '/app/2'){
          this.rol = 2
        }
      }
    },
    beforeMount(){
      this.start()
    },
  }
</script>